*{
    margin:0;
    padding:0;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    width: 100%;
    margin: 0;
    scroll-margin-bottom:0;
    padding: 0;
}


