@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Product_Images/image (1).jpeg" class="d-block w-100" alt="Images">
        </div>
        <div class="carousel-item">
            <img src="~/Product_Images/image.jpeg" class="d-block w-100" alt="Images">
        </div>
        <div class="carousel-item">
            <img src="~/Product_Images/image (2).jpeg" class="d-block w-100" alt="Images">
        </div>
    </div>
</div>
